*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-form  {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
}
.big-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #00ffa2;
}
form {
    display: flex;
    flex-direction: column;
}
.big-form input[type="text"],
.big-form input[type="password"],
.big-form input[type="email"],
.big-form input[type="number"]
{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.big-form button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

.big-form button:hover {
    background-color: #218838;
}